body {
   margin: 0;
   padding: 0;
   overflow: hidden;
/*   background-color: #F0F0F0;*/
   background-color: #424242;
}

#controls {
   margin: 10px;
}

.log-control {
   /*min-width: 200px;*/
}

#left-wrapper {
   margin-left: 10px;
   width: 50%;
}

#right-wrapper {
   width: 50%;
   margin-right: 10px;
}

p {
   margin: 0;
}